body {
    background-image: linear-gradient(to left, #e78686ad, rgba(145, 152, 229, 0.756));
}

* {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Merriweather', serif;
}

.card-text {
    font-weight: 200;
    color: #13376C;
}

.card-title {
    font-weight: 800;
    color: #13376C;
}

.navbar {
    color: #13376C;
}

.p-5 {
    background-color: #13376c50;
}

#mainNavbar {
    background-color: #573c757d !important;
}

.card, .col {
    border: none;
    background-color: none;
}

.card-body {
    background-color: rgba(114, 147, 237, 0.762) !important;
}

.btn-outline-success {
    border-color: #13376C90;
    color: #13376C90;
}

.btn-outline-success:hover {
    background-color: #13376C75;
    border-color: #13376C75;
}

img:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 5px rgba(43, 46, 65, 0.50);
    cursor: pointer;
}

img:active {
    transform: scale(0.98);
    cursor: pointer;
}

img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}